* {
	font-family: sans-serif;
	box-sizing: border-box;
}

pre, code {
	font-family: monospace;
	font-size: 0.9rem;
}

article, section, nav, footer, main {
	display: block;
}

/* breaks position: sticky*/
html, body {
	height: 100%;
}

body {
	margin: 0;
	background: #3c3c3c url(img/raee960.jpg) repeat-y top;
	background-size: cover;
	display: flex;
	flex-direction: column;
}

#content {
	flex: 1;
}

::selection {
	background: #00983a;
	color: #fff;
}

::-moz-selection { /* non accorpare.*/
	background: #00983a;
	color: #fff;
}

a {
	-o-transition: color 500ms;
	-ms-transition: color 500ms;
	-moz-transition: color 500ms;
	-webkit-transition: color 500ms;
	transition: color 500ms;
	color: #00983a;
}

a:link, a:visited {
	color: #00983a;
}

a:hover {
	color: #33ff81;
}

a:active {
	-o-transition: color 300ms;
	-ms-transition: color 300ms;
	-moz-transition: color 300ms;
	-webkit-transition: color 300ms;
	transition: color 300ms;
	color: #00cc4e;
}

#logo, #menu, #content, #footer {
	margin: 0;
	width: 100%;
}

#logo {
	background: #fff;
}

#logo img {
	display: block;
	max-width: 26em;
}

#menu {
	/*position: sticky;
	position: -webkit-sticky;
	top: 0;*/
	background: #3c3c3c;
	border-bottom: 0.4rem solid #00983a;
}

#menu nav {
	margin: 0;
	padding: 0;
}

#menu nav.block > * {
	/*display: block;*/
	float: none;
	width: 100%;
}

#menu a, #menu a:visited, #menu a:link {
	margin: 0;
	padding: 0.3rem;
	font-size: 110%;
	background-color: #3c3c3c;
	color: #fff;
	text-decoration: none;
	display: inline-block;
	/*font-variant: small-caps;*/
	-o-transition: background-color 500ms;
	-ms-transition: background-color 500ms;
	-moz-transition: background-color 500ms;
	-webkit-transition: background-color 500ms;
	transition: background-color 500ms;
}

#menu a:hover, #menu a.active {
	background-color: #00983a;
}

#menu a:active {
	background-color: #00cc4e;
	-o-transition: background-color 300ms;
	-ms-transition: background-color 300ms;
	-moz-transition: background-color 300ms;
	-webkit-transition: background-color 300ms;
	transition: background-color 300ms;
}

/* Prevents margins collapsing (i.e. <h1> margin pushes down #content leaving a gap after #menu */
#content:before {
	clear: both;
	content: "";
	display: table;
}

#content main {
	line-height: 1.5rem;
}

#content main, #footer {
	padding-left: 0.3rem;
	padding-right: 0.3rem; /* questo viene piallato dalle media query */
}

#content main > *, #footer > * {
	padding-left: 0;
	padding-right: 0;
}

#content main ul ul, #content main ol ol {
	padding-left: 1em;
}

strong, b {
	color: #3c3c3c;
}

h1, h2, h3, h4, h5, h6 {
	color: #3c3c3c;
	font-size: 1rem;
	font-weight: bold;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

h1, .blogabstract h2 { font-size: 1.6rem; margin-top: 0.8em; }

h2 { font-size: 1.2rem; }

h2 a, h2 a:link, h2 a:visited {
	text-decoration: none;
	color: #3c3c3c;
}

h2 a:hover, h2 a:active {
	text-decoration: none;
	color: #00983a;
}

#footer > * {
	font-size: 76%;
}

#footer {
	color: #c3c3c3;
	/*background: #3c3c3c;*/
	border-top: 0.4rem solid #00983a;
}

#footer a {
	color: inherit;
	-o-transition: none;
	-ms-transition: none;
	-moz-transition: none;
	-webkit-transition: none;
	transition: none;
}

#content {
	/*background-color: #ccc;*/
	/*background-color: #00983a;*/
	background: #fff;
}

.icon-pdf:before {
	content: "";
	display: inline-block;
	background: url("img/pdf.svg") no-repeat;
	-webkit-background-size: 1rem;
	background-size: 1rem;
	width: 1rem;
	height: 1rem;
	speak: none;
	margin-right: 0.3rem;
	vertical-align: middle;
}

.icon-facebook:before {
	content: "";
	display: inline-block;
	background: url("img/fb.svg") no-repeat;
	-webkit-background-size: 1rem;
	background-size: 1rem;
	width: 1rem;
	height: 1rem;
	speak: none;
	margin-right: 0.3rem;
	vertical-align: middle;
}

.notevole {
	font-size: 110%;
}

.copyleft {
	display: inline-block;
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}

#menu-button {
	padding: 0.3rem;
	font-size: 120%;
	background-color: #3c3c3c;
	cursor: pointer;
	border: 0 none;
	display: inline-block;
	-o-transition: background-color 200ms;
	-ms-transition: background-color 200ms;
	-moz-transition: background-color 200ms;
	-webkit-transition: background-color 200ms;
	transition: background-color 200ms;
}

#menu.open #menu-button {
	background-color: #c3c3c3;
}

#menu-button img {
	height: 1.2rem;
	vertical-align: middle;
}

.persone {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.persone .persona {
	width: 100%;
	flex-grow: 1;
	box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.29);
	margin: 0.5rem;
	padding: 0.5rem;
}

@media screen and (min-width: 40rem) {
	.persone .persona {
		/* sarebbe 0.5+0.5, ma per sicurezza contro le approssimazioni dei float... */
		width: calc(50% - 1.1rem);
	}
}

.persone .persona.fill {
	max-width: 100%;
	width: 100%;
	display: block;
}

.persone .persona * {
	padding-top: 0;
	margin-top: 0;
	padding-bottom: 0;
	margin-bottom: 0;
}

#content .persona:last-of-type {
	margin-bottom: 0.5rem; /* che pezza abnorme. */
}

.persona strong {
	color: #00983a;
}

#content p.list {
	margin-top: 0.2rem;
	margin-bottom: 0.2rem;
}

.blogabstract h2, .pinnedpost h2 {
	clear: left;
}

.blogabstract, .pinnedpost {
	overflow: auto; /* clearfix for images taller than abstract */
}

img.emblematica {
	display: block;
	margin: 0 auto;
	width: 12rem;
	box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.29);
}

img.emblematica.noshadow {
	box-shadow: none;
}

#pinned .pinnedpost {
	width: calc(100% - 0.6rem); /* padding */
	padding: 0.5rem;
	box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.29);
	margin: 0.5rem auto 1rem auto;
}

#pinned .pinnedpost h2 {
	margin: 0.5rem;
}

#pinned .pinnedpost > * {
	margin: 0.5rem;
}

#pinned .pinnedpost .postdata {
	margin-top: -0.5rem;
}

#pinned img.emblematica {
	margin-bottom: 0.5rem;
}

.postdata p, .postdata time {
	margin: 0;
	font-size: 0.9rem;
}

.pages {
	clear: both; /* this is also a "clearfix" for blogpost.php. */
	padding-top: 1rem;
	padding-bottom: 2rem;
}

.pages .prev {
	float: left;
	margin-right: 0.5rem;
}

.pages .next {
	float: right;
	margin-left: 0.5rem;
}

.pages .prev a:before {
	content: "← ";
	speak: none;
}

.pages .next a:after {
	content: " →";
	speak: none;
}

ul, ol {
	list-style-position: inside;
}

blockquote {
	margin: 0;
	border-left: 0.3em solid #00983a;
}

blockquote > p, blockquote > * {
	padding-left: 1em;
}

table, td, tr {
	border-collapse: collapse;
}

thead {
	text-align: left;
}

thead tr {
	border-bottom: 0.1em solid #3c3c3c;
}

th, td {
	padding-right: .5rem;
}

img.filler {
	display: block;
	padding: 0;
	width: calc(1rem + 100%);
	margin: 0 0 0 -0.5rem;
}

img.decorativa {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	height: auto;
}

img.decorativa.shadow {
	box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.29);
}

img.decorativa-flow {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	height: auto;
}

.photogallery img {
	width: calc(50% - 1rem);
	margin: 0.5rem;
}

small.author {
	display: block;
	text-align: end;
}

@media screen and (min-width: 24rem) {
	img.emblematica, img.inflow {
		max-width: 50%;
		float: left;
		margin-top: 1rem;
		margin-right: 1rem;
		margin-bottom: 1rem;
	}

	.pinnedpost img.emblematica {
		margin-top: 0;
	}

	img.decorativa-flow {
		max-width: 50%;
		float: left;
		margin: 1rem 1rem 1rem 0;
	}
}

@media screen and (min-width: 40rem) {
	.photogallery img {
		width: calc(33% - 1rem);
	}
}

@media screen and (min-width: 60rem) {
	#logo > *, #menu > nav, #content main, #footer > * {
		width: 60rem;
		margin-left: auto;
		margin-right: auto;
	}

	#menu a, #menu a:visited, #menu a:link {
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}

	#content main, #footer {
		padding-left: 0.5rem !important;
		padding-right: 0.5rem !important;
	}

	#logo > * {
		margin-left: calc(50% - 30rem);
	}

	body {
		background-size: contain;
	}

	img.filler {
		margin: 0;
		width: 100%;
	}

	#pinned {
		display: flex;
		justify-content: space-between;
	}

	#pinned .pinnedpost {
		margin: 0 0 1rem 0;
	}

	#pinned .pinnedpost.pinned-3 {
		width: calc(33% - 1rem);
	}

	#pinned .pinnedpost.pinned-2 {
		width: calc(50% - 0.5rem);
	}
}
